:global(.highlightLayer) {
    position: absolute;
    top: 0;
    left: 0;
}

.highlightContainer {
    position: absolute;
    left: 0;

    /*z-index: 3;*/
}

.highlightOffset {
    position: absolute;
}

.highlightBox {
    position: absolute;
    background-color: #ffdb0040;
}

.highlightBox.area {
    border: 1px solid black;
}

.highlightBox.line {

}

.hidden {
    background-color: transparent;
}

.hidden.area {
    border-color: transparent;
}

.arrowRight  {
    position: absolute;
    z-index: 3;
}

.Highlight__emoji {
    position: absolute;
    color: black;
    opacity: 1;
    font-size: 28px;
}

.Highlight__parts {
    opacity: 1;
}

.Highlight__part {
    cursor: pointer;
    position: absolute;
    background: rgba(255, 226, 143, 1);
    transition: background 0.3s;
}

.Highlight__popup {
    background-color: #3d464d;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    max-width: 300px;
    max-height: 100px;
    overflow-y: scroll;
}

.Highlight--scrolledTo .Highlight__part {
    background: #ff4141;
}
